@import url("https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap");

:root {
  --subway-green: #3d894b;
  --subway-yellow: #f4bd44;
  --kakao-brown: #403631;
}

body {
  font-size: 16px;
  font-family: "Do Hyeon", sans-serif;
}

.Page {
  display: flex;
  flex-direction: column;
  background: var(--subway-green);
  min-height: 100vh;
}

.Page:nth-child(odd) {
  background: var(--subway-green);
  color: #eee;
}

.Page:nth-child(even) {
  background: var(--subway-yellow);
}

.Page:nth-child(even) button {
  border-color: var(--kakao-brown);
  border-width: 2px;
}

.Page header {
  text-align: center;
  font-size: 9vh;
  padding-top: 2rem;
  color: #eee;
}

.Page main {
  text-align: center;
  margin-top: 2em;
}

.Page footer {
  margin-top: auto;
  padding-bottom: 2rem;
}

button {
  font-size: 2em;
  outline: none;
  border: 1px solid #eee;
  background: var(--subway-yellow);
  border-radius: 5px;
  color: #333;
  padding: 0.5em 1em;
  font-family: "Do Hyeon", sans-serif;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: translateY(1px);
}

.Icon-scroll,
.Icon-scroll:before {
  position: absolute;
  left: 50%;
}

.Icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 90%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.Icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

.ResultTable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  font-size: 1.5em;
  line-height: 2;
}

.ResultTable td:first-child {
  text-align: left;
  padding-left: 5px;
  padding-right: 2em;
  color: #333;
  font-size: 0.9em;
  min-width: 2em;
}
.ResultTable td:last-child {
  text-align: left;
  padding-right: 5px;
}
